<!DOCTYPE html>
<html>
    <head>
        <title>QChat</title>
        <link rel="icon" type = "image/png" href="../chat-logo-transparent.png" />
        <link rel = "stylesheet" href = "/css/bootstrap.css"/>
        <link rel = "stylesheet" href = "/css/styles.css"/>
        <link rel = "stylesheet" href = "/css/signin.css"/>
    </head>
    
        

        {{{body}}}


        
        {{!-- <footer>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </footer> --}}
 
</html>